<section class="contact-section">
  <div class="container contact">
    <div class="row">
      <div class="col-lg-6 contact-info">
        <h3>WEBSITE HỖ TRỢ PHÂN PHỐI NÔNG SẢN AGRIGARDEN</h3>
        <p>Địa chỉ: <span>264 Trần Cao Vân, TP Đà Nẵng</span></p>
        <p>Hotline 1: <span>0919010542</span></p>
        <p>Hotline 2: <span>0783557654</span></p>
        <p>Người đại diện: <span>Trương Huỳnh Mai Nhi</span></p>
        <p>Email 1: <span>agrigarden@gmail.com</span></p>
        <p>Email 2: <span>mainhith97@gmail.com</span></p>
      </div>
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.8760204166606!2d108.20334931466338!3d16.071922143635177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142184e8f2faafb%3A0x7548786f04e96001!2zMjY0IFRy4bqnbiBDYW8gVsOibiwgVGFtIFRodeG6rW4sIFEuIFRoYW5oIEtow6osIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1569163121832!5m2!1svi!2s"
          width="600"
          height="450"
          frameborder="0"
          style="border:0;"
          allowfullscreen=""
        ></iframe>
      </div>
    </div>
  </div>
  <div class="container list-farmer">
    <h5 class="text-center">MỘT SỐ ĐỐI TÁC CUNG CẤP NÔNG SẢN CỦA CHÚNG TÔI</h5>
    <ol class="pt-3">
      <li>
        <p class="font-weight-bold">Trại Mát – Nông Trại Đà Lạt</p>
        <p>Địa chỉ: Trại Mát, Phường 11, Tp. Đà Lạt, Lâm Đồng</p>
      </li>

      <li>
        <p class="font-weight-bold">Vựa Trái Cây Sạch Đức Trọng</p>
        <p>Địa chỉ: 137 Lạc Long Quân, Liên Nghĩa, Đức Trọng, Lâm Đồng</p>
      </li>
      <li>
        <p class="font-weight-bold">Vườn trái cây sinh thái Đăng Quang</p>
        <p>Địa chỉ: Lâm Sơn, Ninh Sơn, Ninh Thuận</p>
      </li>
      <li>
        <p class="font-weight-bold">Vườn rau thuỷ canh An Nông Farm</p>
        <p>
          Địa chỉ: 59/1A, QL1A, An Phú Đông, Quận 12, Hồ Chí Minh
        </p>
      </li>
    </ol>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/d/embed?mid=1oTGoE4QJSvHCDQt6AshkxwABsy768pxu&hl=vi"
        width="640"
        height="480"
      ></iframe>
    </div>
  </div>
</section>
