<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 contact-info">
        <h3>WEBSITE HỖ TRỢ PHÂN PHỐI NÔNG SẢN AGRIGARDEN</h3>
        <p>Địa chỉ: 264 Trần Cao Vân, TP Đà Nẵng</p>
        <p>Hotline 1: 0919010542</p>
        <p>Hotline 2: 0783557654</p>
        <p>Người đại diện: Trương Huỳnh Mai Nhi</p>
        <p>Email 1: agrigarden@gmail.com</p>
        <p>Email 2: mainhith97@gmail.com</p>
        <!-- <div class="contact-social">
          <a href="#"><i class="fa fa-pinterest"></i></a>
          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-dribbble"></i></a>
          <a href="#"><i class="fa fa-behance"></i></a>
        </div> -->

      </div>
    </div>
  </div>
  <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40361.79382633919!2d108.16452943642628!3d16.033100021442294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0x1df0cb4b86727e06!2zxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1568992487297!5m2!1svi!2s" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
</section>
