.contact {
	padding-top: 80px;
	position: relative;
}

.contact-info h3, h5 {
  color: #82ae46
}
.contact-info h3 {
  margin-bottom: 50px;
}
.contact .map {
	position: absolute;
  width: calc(50% - 50px);
  width:50%;
	height: 80%;
	right: 0;
	top: 80px;
	background: #ddd;
}

.contact .map iframe {
	width: 100%;
	height: 100%;
}

.list-farmer{
  padding-top: 80px;
  margin-bottom: 50px;
  position: relative;
}
.list-farmer ol{
  padding-left: 0px;
}
.list-farmer h5{
  font-size: 25px;
}
.list-farmer .map {
	position: absolute;
  width: calc(50% - 50px);
  width:50%;
	height: 80%;
	right: 0;
	top: 130px;
	background: #ddd;
}

.list-farmer .map iframe {
	width: 100%;
	height: 100%;
}
