.ftco-footer {
  font-size: 14px;
  color: #ffffff;
  background-color: #82ae46;
}
.ftco-footer .ftco-footer-widget h2 {
  font-weight: normal;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.ftco-footer .ftco-footer-widget ul li {
  font-size: 14px;
  margin-bottom: 0px;
}
.ftco-footer .ftco-footer-widget ul li a {
  color: #ffffff;
}

.ftco-section {
  padding: 5em 0;
  position: relative;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.block-23 ul {
  padding: 8px;
}
.block-23 ul li {
  display: table;
  line-height: 1.5;
  margin-bottom: 15px;
}
.block-23 ul li .text {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 10px;
}
.block-23 ul li i{
  padding-right: 5px;
}
