.hero-wrap {
  width: 100%;
  position: relative;
}
.hero-wrap.hero-bread {
  padding: 10em 0;
}
.hero-wrap,
.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
