
input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

// ul,
// ol {
// 	padding: 0;
// 	margin: 0;
// }

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	text-align: center;
}

.section-title h2 {
	font-size: 36px;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 105px;
	padding-bottom: 105px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*------------------
  Header section
---------------------*/
.bg-primary {
  background-color: #82ae46 !important; }

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #82ae46 !important; }
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.topper {
  font-size: 11px;
  width: 100%;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}
@media (max-width: 767.98px) {
  .topper {
    margin-bottom: 10px;
  }
}
.topper .icon span {
  color: #fff;
}
 .topper a {
  width: calc(100% - 30px);
  color: white !important;
  text-decoration: none;
}
.topper a:hover{
  color:#ffffff;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
  }
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }
  .navbar-dark .navbar-brand {
    color: #fff; }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }
  .ftco-navbar-light .navbar-brand {
    color: #82ae46; }
    a.navbar-brand {
      color: #5BBD2B;
  }
  .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
    color: #000000; }
  @media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff; } }
  .ftco-navbar-light.scrolled .navbar-brand {
    color: #000000; }

  .navbar-brand {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase; }
.row {
  display: flex;

  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-top {
	padding: 18px 0 14px;
}

.header-search-form {
	width: 100%;
	position: relative;
	padding: 0 10px;
}

.header-search-form input {
	width: 100%;
	height: 44px;
	font-size: 14px;
	border-radius: 50px;
	border: none;
	padding: 0 19px;
	background: #f0f0f0;
}

.header-search-form button {
	position: absolute;
	height: 100%;
	right: 27px;
	top: 0;
	font-size: 26px;
	color: #000;
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.user-panel .up-item {
	display: inline-block;
	font-size: 14px;
}

.user-panel .up-item i {
  margin-left: 20px;
  margin-right: 10px;
	font-size: 32px;
}

.user-panel .up-item a {
	font-size: 14px;
  color: #000;
  text-decoration: none;
}

.user-panel .up-item:first-child {
	margin-right: 40px;
}

.shopping-card {
	display: inline-block;
	position: relative;
}

.shopping-card span {
	position: absolute;
	top: -4px;
	left: 100%;
	height: 16px;
	min-width: 16px;
	color: #fff;
	font-size: 13px;
	background: #f51170;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
	margin-left: -7px;
}

.main-navbar {
	background: #82ae46;
}

// .main-menu {
// 	list-style: none;
// }

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
	margin-right: 50px;
	line-height: 1;
	padding: 17px 0;
  position: relative;
  text-decoration: none;
}
.main-menu li a.disabled{
  pointer-events: none;
}
.main-menu li:hover>a {
	color: #ecff3c;
}
.main-menu li:hover .sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 0;
}
.main-menu .sub-menu {
	position: absolute;
	width: 220px;
	left: 0;
	top: 100%;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	z-index: 99;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.05);
}

.main-menu .sub-menu li {
	display: block;
}
.main-menu .sub-menu li::before {
  content: "•"; color: #82ae46;
  position: absolute;
  padding-left: 5px;
}
.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 8px 20px;
}

.main-menu .sub-menu li a:hover {
	color: #82ae46;
}

.shopping-card {
	display: inline-block;
	position: relative;
}

.shopping-card span {
	position: absolute;
	top: -9px;
	left: 100%;
	height: 16px;
	min-width: 16px;
	color: #fff;
	font-size: 13px;
	background: #f51167;
	text-align: center;
	border-radius: 30px;
	padding: 0 2px;
	margin-left: -12px;
}
.header-user-dropdown .dropdown-toggle {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 0;
}
.header-user-dropdown .dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.header-user-dropdown .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 8px rgba(10, 13, 65, 0.05);
  box-shadow: 1px 2px 8px rgba(10, 13, 65, 0.05);
  padding: 0;
  margin-top: 25px;
  left: auto;
  right: 0;
}
.header-user-dropdown .dropdown-menu:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  right: 20px;
}
.header-user-dropdown .dropdown-menu ul {
  margin-bottom: 0;
  padding: 0;
}
.header-user-dropdown .dropdown-menu ul li a {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #8b8fa1;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-bottom: 1px solid #e4e7f2;
}
.header-user-dropdown .dropdown-menu ul li a:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.header-user-dropdown .dropdown-menu ul li:last-child a {
  border: none;
}
