<header class="header-section" style="height: 100%;">
  <div class="py-1 bg-primary">
    <div class="container">
      <div
        class="row no-gutters d-flex align-items-start align-items-center px-md-0"
      >
        <div class="col-lg-12 d-block">
          <div class="row d-flex">
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div
                class="icon mr-2 d-flex justify-content-center align-items-center"
              >
                <i class="fa fa-phone"></i>
              </div>
              <span class="text">0919010542</span>
            </div>
            <div class="col-md pr-4 d-flex topper align-items-center">
              <div
                class="icon mr-2 d-flex justify-content-center align-items-center"
              >
                <i class="fa fa-envelope"></i>
              </div>
              <span class="text">agrigarden@gmail.com</span>
            </div>
            <div
              class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right"
            >
              <a href="#" routerLink="/farmer_register"
                >Đăng ký làm nhà cung cấp nông sản</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="" class="navbar-brand">
            AgriGarden
          </a>
        </div>

        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Tìm kiếm" />
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>

        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <a href="#" routerLink="/login">Đăng nhập</a> /
              <a href="#" routerLink="/register">Đăng ký</a>
            </div>
            <div class="up-item">
              <div class="shopping-card">
                <i class="flaticon-bag"></i>
                <span>0</span>
              </div>
              <a href="#">Giỏ hàng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Rau củ sạch</a></li>
        <li><a href="#">Hoa quả</a></li>
        <li><a href="#">Hạt giống rau sạch</a></li>
        <li><a href="#">Hạt giống hoa</a></li>
      </ul>
    </div>
  </nav>
</header>
