<header class="header-section" style="height: 100%;">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="" class="navbar-brand">
              AgriGarden
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Tìm kiếm">
            <button><i class="flaticon-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <div class="shopping-card">
                <i class="flaticon-bag"></i>
                  <span>0</span>
                </div>
                <a href="#">Giỏ hàng</a>
              </div>
            <div class="up-item">
              <i class="flaticon-profile"></i>
              <div class="header-user-dropdown dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      User
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                      <ul class="list-unstyled">
                        <li><a class="c-orange">Thông tin cá nhân</a></li>
                        <li><a class="c-orange">Lịch sử đặt hàng</a></li>
                        <li><a class="c-orange">Log out</a></li>
                      </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="#">Trang chủ</a></li>
        <li><a href="#">Rau củ sạch</a></li>
        <li><a href="#">Hoa quả</a></li>
        <li><a href="#">Hạt giống rau sạch</a></li>
        <li><a href="#">Hạt giống hoa</a></li>
      </ul>
    </div>
  </nav>
</header>


