<header class="header-section" style="height: 100%;">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 text-center text-lg-left">
          <!-- logo -->
          <a href="" class="navbar-brand" [routerLink]="['/user']">
            AgriGarden
          </a>
        </div>
        <div class="col-xl-6 col-lg-5">
          <form class="header-search-form">
            <input type="text" placeholder="Tìm kiếm" />
            <button><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="user-panel">
            <div class="up-item">
              <div class="shopping-card">
                <span>0</span>
                <i class="fa fa-shopping-cart"></i>
              </div>
              <a href="#">Giỏ hàng</a>
            </div>
            <div class="up-item">
              <i class="fa fa-user"></i>
              <div class="header-user-dropdown dropdown">
                <button
                  class="dropdown-toggle"
                  type="button"
                  id="dropdownMenuUser"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"

                >
                  {{ data.username }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuUser">
                  <ul class="list-unstyled">
                    <li><a class="c-orange">Thông tin cá nhân</a></li>
                    <li><a class="c-orange">Lịch sử đặt hàng</a></li>
                    <li><a class="c-orange" (click) = "logout()">Log out</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <nav class="main-navbar">
    <div class="container">
      <!-- menu -->
      <ul class="main-menu">
        <li><a href="" [routerLink]="['/user']">Trang chủ</a></li>
        <li><a class="disabled">Rau củ quả</a>
          <ul class="sub-menu">
            <li><a href="" [routerLink]="['/user/cay_rau_an_cu']">Cây ăn củ</a></li>
            <li><a href="" [routerLink]="['/user/cay_rau_an_la']">Cây rau ăn lá</a></li>
            <li><a href="" [routerLink]="['/user/cay_rau_an_than']">Cây rau ăn thân</a></li>
            <li><a href="" [routerLink]="['/user/hoa_qua']">Hoa quả</a></li>
          </ul>
        </li>
        <li><a class="disabled">Nông sản khác</a>
        <ul class="sub-menu">
            <li><a href="" [routerLink]="['/user/hat-giong-rau-sach']">Hạt giống rau sạch</a></li>
            <li><a href="" [routerLink]="['/user/hat-giong-hoa']">Hạt giống hoa</a></li>
            <li><a href="" [routerLink]="['/user/do-kho']">Đồ khô</a></li>
            <li><a href="" [routerLink]="['/user/tra-cac-loai']">Trà các loại</a></li>
            <li><a href="" [routerLink]="['/user/nam-cac-loai']">Nấm các loại</a></li>
        </ul>
        </li>
        <!-- <li><a href="" [routerLink]="['']">Hợp tác</a></li> -->
        <li><a href="#" [routerLink]="['/user/contact']">Liên hệ</a></li>
      </ul>
    </div>
  </nav>
</header>
