.img {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 650px;
  position: relative;
  z-index: 0;
}
.a {
  position: absolute;
  top: 165px;
}
.b {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 3px;
  // font-family: "Amatic SC", cursive;
}
.b h1{
  font-size: 70px;
}
.row {
  margin: 0 0 0 !important;
}

.b .subtext {
  font-weight: 300;
  font-size: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
}

