@font-face {
  font-family: "Flaticon";
  src: url("../../../assets/fonts/icon-fonts/Flaticon.eot");
  src: url("../../../assets/fonts/icon-fonts/Flaticon.eot?#iefix")
      format("embedded-opentype"),
    url("../../../assets/fonts/icon-fonts/Flaticon.woff") format("woff"),
    url("../../../assets/fonts/icon-fonts/Flaticon.ttf") format("truetype"),
    url("../../../assets/fonts/icon-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../../../assets/fonts/icon-fonts/Flaticon.svg#Flaticon")
      format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-style: normal;
}
.flaticon-shipped:before { content: "\f100"; }
.flaticon-award:before { content: "\f102"; }
.flaticon-customer-service:before { content: "\f103"; }
.flaticon-diet:before { content: "\f105"; }

.ftco-section {
  margin-bottom: 5rem;
  position: relative;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*="col-"] {
  padding-right: 0;
  padding-left: 0;
}
.ftco-services .services {
  display: block;
  width: 100%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ftco-services .services .icon {
  line-height: 1.3;
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ftco-services .services .icon:after {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: "";
  border: 2px solid rgba(255, 255, 255, 0.19);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.ftco-services .services .icon span {
  font-size: 50px;
  color: #fff;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.ftco-services .services .media-body {
  width: 100%;
}
.ftco-services .services .media-body h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Poppins", Arial, sans-serif;
  color: #000000;
}
.ftco-services .services .media-body span {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  font-weight: 500;
}
.ftco-services .services:hover .icon,
.ftco-services .services:focus .icon {
  background: #82ae46;
}
.ftco-services .services:hover .icon span,
.ftco-services .services:focus .icon span {
  color: #fff;
}
.bg-color-1 {
  background: #e4b2d6;
}
.bg-color-2 {
  background: #dcc698;
}

.bg-color-3 {
  background: #a2d1e1;
}

.bg-color-4 {
  background: #dcd691;
}
.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.media-body {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
