<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 zoom img-hover-zoom img-hover-zoom-quickzoom">
        <img
            src="{{ data.image }}"
            class="img-fluid"
            alt=""
        />
      </div>
      <div class="col-lg-6 product-details pl-md-5">
        <h2>{{data?.name}}</h2>
        <p class="provider">Cung cấp bởi: <span>{{ data?.user.company_name }}</span></p>
        <p class="price font-weight-bold"><span>{{ data?.price_per_unit }}.000đ/{{ data?.unit}}</span></p>
        <p>{{data?.description}}</p>
        <p class= "verify font-weight-bold">Đã qua kiểm chứng của {{data?.verify}}</p>
        <div class="row">
          <div class="mr-2 ml-2">
            <p><a href="" class="btn btn-black py-3 px-5">Mua lẻ</a></p>
          </div>
          <div class="">
            <p><a href="" class="btn btn-black py-3 px-5">Mua sỉ</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="detail-title">
      <h3>Thông tin chi tiết sản phẩm</h3>
    </div>
    <div class="detail-content pt-3">
      <p>{{data?.detail}}</p>
    </div>
  </div>
</section>



<!-- <section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 zoom">
        <img
            src="../../../assets/images/product-1.jpg"
            class="img-fluid"
            alt=""
        />
      </div>
      <div class="col-lg-6 product-details pl-md-5">
        <h2>Ớt chuông Đà Lạt</h2>
        <p class="provider">Cung cấp bởi: <span>Nông trại Đà Lạt</span></p>
        <p class="price font-weight-bold"><span>55.000đ/kg</span></p>
        <p>
          100% ớt chuông xanh, ớt chuông đỏ Đà Lạt sạch, an toàn, không chất bảo
          quản, chất lượng cao.
        </p>
        <p>Đã qua kiểm chứng của Sở Y tế Đà Lạt</p>
        <div class="row">
          <div class="mr-2 ml-2">
            <p><a href="" class="btn btn-black py-3 px-5">Mua lẻ</a></p>
          </div>
          <div class="">
            <p><a href="" class="btn btn-black py-3 px-5">Mua sỉ</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="detail-title">
      <h3>Thông tin chi tiết sản phẩm</h3>
    </div>
    <div class="detail-content">
      <p>Đặc điểm của loại ớt này chính là không cay như ớt truyền thống. Mà có vị ngọt, hơi hăng nên còn được gọi là ớt ngọt. Loại ớt này có nhiều màu sắc khác nhau như: đỏ, xanh, vàng, cam, tím… Nhưng thông dụng hơn cả chính là ớt xanh, ớt đỏ.</p>
      <p>Theo các nghiên cứu mới nhất, trong ớt xanh, ớt đỏ Đà Lạt có rất nhiều các vitamin như: C, A, E, B1, B2… Ngoài ra còn chứa hoạt chất flavonoid, canxi, phospho, sắt, beta-caroten…  Cứ 100g ớt ngọt sẽ chứa 120mg vitamin C, cao gấp 2,5 lần so với cam. Ngoài ra 100g ớt ngọt sẽ có 3,5 mg vitamin A, đủ để cung cấp lượng vitamin A từ 20-50% trong ngày.</p>
    </div>
  </div>
</section> -->
