<div class="main signup-design">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form method="POST" id="signup-form" class="signup-form">
          <h2 class="form-title">ĐĂNG KÝ CUNG CẤP NÔNG SẢN</h2>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="username"
              id="username"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="password"
              id="password"
              placeholder="Password"
            />
            <span
              toggle="#password"
              class="zmdi zmdi-eye field-icon toggle-password"
            ></span>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="name"
              id="name"
              placeholder="Họ Tên"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-input"
              name="email"
              id="email"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="tel"
              id="tel"
              placeholder="Telephone"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="address"
              id="address"
              placeholder="Địa chỉ"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="description"
              id="description"
              placeholder="Mô tả (nếu có)"
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              name="submit"
              id="submit"
              class="form-submit"
              value="ĐĂNG KÝ NGAY"
            />
          </div>
        </form>
        <p class="loginhere">
          Đã có tài khoản ?
          <a href="#" class="loginhere-link" routerLink="/login">Đăng nhập</a>
        </p>
      </div>
    </div>
  </section>
</div>
