<div class="main signup-design">
  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form [formGroup]="registerForm" (ngSubmit) = "submit(registerForm)" id="signup-form" class="signup-form">
          <h2 class="form-title">ĐĂNG KÝ CUNG CẤP NÔNG SẢN</h2>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="username"
              id="username"
              placeholder="Username"
              formControlName="username"
            />
          </div>
          <label
          *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched" class="text-danger">
          Username is required
          </label>

          <div class="form-group">
            <input
              type="password"
              class="form-input"
              name="password"
              id="password"
              placeholder="Password"
              formControlName="password"
            />
            <span
              toggle="#password"
              class="zmdi zmdi-eye field-icon toggle-password"
            ></span>
          </div>
          <label
          *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="text-danger">
          Password is required
          </label>

          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="name"
              id="name"
              placeholder="Họ Tên"
              formControlName="name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="company_name"
              placeholder="Tên nông trại/trang trại"
              formControlName="company_name"
            />
          </div>
          <div class="form-group">
            <input
              type="email"
              class="form-input"
              name="email"
              id="email"
              placeholder="Email"
              formControlName="email"
            />
          </div>
          <label
          *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="text-danger">
          Email is required
          </label>

          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="address"
              id="address"
              placeholder="Địa chỉ"
              formControlName="address"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="telephone"
              id="telephone"
              placeholder="Telephone"
              formControlName="telephone"
            />
          </div>
          <!-- <div class="form-group">
            <input
              type="text"
              class="form-input"
              name="description"
              id="description"
              placeholder="Mô tả (nếu có)"
              formControlName="description"
            />
          </div> -->
          <div class="form-group">
            <input
              type="submit"
              name="submit"
              id="submit"
              class="form-submit"
              value="ĐĂNG KÝ NGAY"
            />
          </div>
        </form>
        <p class="loginhere">
          Đã có tài khoản ?
          <a href="#" class="loginhere-link" [routerLink]="['/login']">Đăng nhập</a>
        </p>
      </div>
    </div>
  </section>
</div>
