<section class="product-filter-section">
  <div class="container">
    <div class="section-title">
      <p>Trang chủ</p>
      /
      <p>Rau củ quả</p>
      /
      <p class="disabled">Cây ăn củ</p>
    </div>
    <div class="row">
      <div *ngFor="let data of data" class="col-lg-3 col-sm-6">
        <div class="product-item">
          <div class="pi-pic">
            <!-- <a class="img-prod" routerLink='/product/{{data.id}}'
                  ><img
                    src="./../../../assets/images/product-1.jpg"
                    class="img-fluid"
                    alt=""
                /></a> -->

            <a class="img-prod" routerLink="/product/{{ data.id }}"
              ><img src="{{ data.image }}" class="img-fluid" alt=""></a>

            <!-- <img [src]=" data.image.data "> -->
            <div class="pi-links">
              <a href="#" class="add-card"
                ><i class="fa fa-shopping-bag"></i><span>ADD TO CART</span></a
              >
            </div>
          </div>
          <div class="pi-text">
            <h6>{{ data.price_per_unit }}.000đ/{{ data.unit }}</h6>
            <p>{{ data.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
