//@import url(../libs/bootstrap/css/bootstrap.min.css);
//@import url(../libs/font-awesome/css/font-awesome.min.css);
.p-10 {
  padding: 10px;
}
.pY-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.pX-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-15 {
  padding: 15px;
}
.pY-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.pX-15 {
  padding-left: 15px;
  padding-right: 15px;
}
.p-20 {
  padding: 20px;
}
.pY-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.pX-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-25 {
  padding: 25px;
}
.pY-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}
.pX-25 {
  padding-left: 25px;
  padding-right: 25px;
}
.p-30 {
  padding: 30px;
}
.pY-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.pX-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.mT-5 {
  margin-top: 5px;
}
.mT-10 {
  margin-top: 10px;
}
.mT-15 {
  margin-top: 15px;
}
.mT-20 {
  margin-top: 20px;
}
.mT-25 {
  margin-top: 25px;
}
.mT-30 {
  margin-top: 30px;
}
.mT-35 {
  margin-top: 35px;
}
.mT-40 {
  margin-top: 40px;
}
.mT-45 {
  margin-top: 45px;
}
.mT-50 {
  margin-top: 50px;
}
.mB-5 {
  margin-bottom: 5px;
}
.mB-10 {
  margin-bottom: 10px;
}
.mB-15 {
  margin-bottom: 15px;
}
.mB-20 {
  margin-bottom: 20px;
}
.mB-25 {
  margin-bottom: 25px;
}
.mB-30 {
  margin-bottom: 30px;
}
.mB-35 {
  margin-bottom: 35px;
}
.mB-40 {
  margin-bottom: 40px;
}
.mB-45 {
  margin-bottom: 45px;
}
.mB-50 {
  margin-bottom: 50px;
}
html,
body {
  font-size: 15px;
  line-height: 1.8;
  color: #313131;
}
.header {
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 1px solid #e0e6ef;
}

.header .navbar-logo .navbar-brand {
  padding: 0;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none;
  }
  .navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }
  .navbar-dark .navbar-brand {
    color: #fff; }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }
  .ftco-navbar-light .navbar-brand {
    color: #82ae46; }
    a.navbar-brand {
      color: #5BBD2B;
  }
  .ftco-navbar-light .navbar-brand:hover, .ftco-navbar-light .navbar-brand:focus {
    color: #000000; }
  @media (max-width: 991.98px) {
  .ftco-navbar-light .navbar-brand {
    color: #fff; } }
  .ftco-navbar-light.scrolled .navbar-brand {
    color: #000000; }

  .navbar-brand {
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase; }

.header .navbar-logo img {
  height: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(4px, 5px);
  transform: rotate(45deg) translate(4px, 5px);
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -4px);
  transform: rotate(-45deg) translate(4px, -4px);
}
.navbar-toggler span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navbar-toggler {
  padding: 9px 10px;
  margin: 8px 0;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
  outline: none;
  display: none;
}
@media (max-width: 767px) {
  .navbar-toggler {
    display: inline-block;
  }
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #333;
}
.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}
.active .navbar-toggler .icon-bar {
  background: #333;
}
.c-blue {
  color: #3eb0ff !important;
}
.c-orange {
  color: #ff7f7d !important;
}
.c-yellow {
  color: #ffa534 !important;
}
.c-green {
  color: #18c91e !important;
}
.c-red {
  color: #fb3f4b !important;
}
.c-blue1 {
  color: #1c62f0 !important;
}
.c-gray {
  color: #b1b1b1 !important;
}
.bold {
  font-weight: bold;
}

.header-user-dropdown .dropdown-toggle {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
}
.header-user-dropdown .dropdown-toggle:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.header-user-dropdown .dropdown-toggle .avatar-user {
  margin-right: 10px;
  display: inline-block;
}
.header-user-dropdown .dropdown-toggle .avatar-user img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 20px rgba(60, 148, 255, 0.2);
  box-shadow: 0 5px 20px rgba(60, 148, 255, 0.2);
}
.header-user-dropdown .dropdown-menu {
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 8px rgba(10, 13, 65, 0.05);
  box-shadow: 1px 2px 8px rgba(10, 13, 65, 0.05);
  padding: 0;
  margin-top: 25px;
  left: auto;
  right: 0;
}
.header-user-dropdown .dropdown-menu:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  top: -10px;
  right: 20px;
}
.header-user-dropdown .dropdown-menu ul {
  margin-bottom: 0;
  padding: 0;
}
.header-user-dropdown .dropdown-menu ul li a {
  display: block;
  width: 100%;
  padding: 0.5rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #8b8fa1;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border-bottom: 1px solid #e4e7f2;
}
.header-user-dropdown .dropdown-menu ul li a:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.header-user-dropdown .dropdown-menu ul li:last-child a {
  border: none;
}
.main-container {
  padding-top: 30px;
  padding-bottom: 60px;
  min-height: calc(100vh - 70px);
  background-color: #f2f5fd;
}

.title-header span {
  font-size: 12px;
  color: #686868;
  margin-left: 10px;
}

@media (min-width: 1280px) {
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
  }
}
@media (max-width: 767px) {
  .header .navbar-left {
    margin: 0;
    z-index: 2;
  }
  .header .navbar-header {
    padding: 10px 0;
  }
  .header .navbar-header .navbar-toggler {
    z-index: 2;
    position: absolute;
    left: 150px;
    top: 4px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    background-color: #fff;
  }
  .header .navbar-header .navbar-toggler:not(.collapsed) {
    left: 260px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .modal-common .modal-dialog .modal-header,
  .modal-common .modal-dialog .modal-body {
    padding: 20px 15px;
  }
}
