
.product-filter-section {
  padding-bottom: 60px;
}

.product-filter-section .section-title {
  margin-top: 30px;
  margin-bottom: 50px;
}
.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 36px;
}
@media only screen and (max-width: 479px) {
  .section-title h2 {
    font-size: 28px;
  }
}
.product-item .pi-pic {
  position: relative;
  display: block;
}
.product-item .pi-links {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 18px;
  z-index: 9;
  padding-right: 15px;
  text-align: right;
}

.product-item .pi-links a {
  display: inline-table;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 60px;
  font-size: 18px;
  line-height: 18px;
  padding-top: 9px;
  overflow: hidden;
  color: #000;
  position: relative;
  -webkit-box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 0 32px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
}

.product-item .pi-links a i {
  display: inline-block;
  color: #000;
}

.product-item .pi-links a.add-card {
  padding-top: 8px;
}

.product-item .pi-links a.add-card span {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  right: 19px;
  top: 20px;
  opacity: 0;
}

.product-item .pi-links a.add-card:hover {
  width: 148px;
  padding: 8px 18px 0;
  text-align: left;
}

.product-item .pi-links a.add-card:hover span {
  opacity: 1;
  top: 10px;
  -webkit-transition: all 0.4s ease 0.3s;
  -o-transition: all 0.4s ease 0.3s;
  transition: all 0.4s ease 0.3s;
}

.product-item .pi-text {
  padding-top: 22px;
  height: 87px;
}

.product-item .pi-text h6 {
  float: right;
  padding-left: 40px;
  overflow: hidden;
  font-weight: 700;
  color: #111111;
}

.product-item .pi-text p {
  font-size: 16px;
  color: #111111;
  margin-bottom: 0;
}
.pi-pic .img-prod img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.pi-pic .img-prod:hover img,
.pi-pic .img-prod:focus img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.pi-pic .img {
  display: block;
  height: auto;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}
.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn.btn-primary {
  background: #82ae46;
  border: 1px solid #82ae46;
  color: #fff;
}
.btn.btn-primary:hover {
  border: 1px solid #82ae46;
  background: transparent;
  color: #82ae46;
}
.btn.btn-primary.btn-outline-primary {
  border: 1px solid #82ae46;
  background: transparent;
  color: #82ae46;
}
.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #82ae46;
  color: #fff;
}
